@model IEnumerable<TilausDBApp.Models.Tilaukset>

@{
    ViewBag.Title = "TilausOtsikot";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showOrderClass").click(function () {
                let tilausId = $(this).data("tilausid");
                //alert("Klikkasit tilausnumeroa: " + tilausId);
                var url = "/Orders/_TilausRivit/?TilausID=" + tilausId;
                $("#orderDetails_" + tilausId).append(" <b>Ladataan tilauksen " + tilausId + " rivejä...</b>");
                var $detailDiv = $("#orderDetails_" + tilausId);
                $.get(url, function (data) {
                    $detailDiv.replaceWith(data);
                });
            });
        });
    </script>
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<h2>TilausOtsikot</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

<div class="container-fluid">
    <div class="panel-heading">
        <a class="panel-link">
            <form>
                <div class="input-group">
                    <div class="form-control-plaintext">
                        <span class="input-group-text bg-warning font-weight-bold"><strong>TilausID</strong></span>
                    </div>
                    <input type="text" class="rounded-2 bg-warning font-weight-bold px-2" value="Toimitusosoite" disabled>
                    <input type="text" class="rounded-2 bg-warning font-weight-bold px-2" value="Tilauspvm" disabled>
                    <input type="text" class="rounded-2 bg-warning font-weight-bold px-2" value="Toimituspvm" disabled>
                    <input type="text" class="rounded-2 bg-warning font-weight-bold px-2" value="Nimi" disabled>
                    <input type="text" class="rounded-2 bg-warning font-weight-bold px-2" value="Postitoimipaikka" disabled>
                </div>
            </form>
        </a>

    </div>
        
    
    
    
    
    
    
    
    
    
    <div class="panel-group" id="accordion">
            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <a class="panel-link showOrderClass" data-tilausid="@item.TilausID" data-bs-toggle="collapse" href="#collapse_@item.TilausID">
                             <form>
                                 <div class="input-group">
                                     <div class="form-control-plaintext">
                                         <span class="input-group-text text-bg-info"><strong>TilausID: @item.TilausID</strong></span>
                                     </div>
                                    <input type="text" class="rounded-2 px-2" value="@item.Toimitusosoite" disabled>
                                    <input type="text" class="rounded-2 px-2" value="@item.Tilauspvm" disabled>
                                    <input type="text" class="rounded-2 px-2" value="@item.Toimituspvm" disabled>
                                    <input type="text" class="rounded-2 px-2" value="@item.Asiakkaat.Nimi" disabled>
                                    <input type="text" class="rounded-2 px-2" value="@item.Postitoimipaikat.Postitoimipaikka" disabled>
                                </div>
                            </form>
                        </a>
                     </div>
                     <div id="collapse_@item.TilausID" class="collapse" data-bs-parent="#accordion">
                         <div class="panel-body">
                             <div id="orderDetails_@item.TilausID"></div>
                         </div>
                     </div>
                 </div>
            }
        </div>
</div>



